name: RSS Tech Books

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Sync dependencies
        run: uv sync

      - name: Run script to generate RSS feed
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        run: |
          uv run rss_tech_books.py

      - name: Commit and Push changes
        run: |
          git config user.name "Masaharu Suizu"
          git config user.email "masaharu.sui@gmail.com"
          git add rss_tech_books.atom .data/tech_books.json
          git commit -m "Update RSS feed [skip ci]" || exit 0
          git push https://x-access-token:${{ secrets.TOKEN_FOR_WRITE }}@github.com/masaharu-suizu/masaharu-suizu.github.io.git main

